{{$origFiles := split (.Get "original") ","}}
{{$transFiles := split (.Get "translated") ","}}
{{if eq (len $origFiles) (len $transFiles)}}
  {{range $fileIndex, $origFile := $origFiles}}
    {{$transFile := index $transFiles $fileIndex}}

    {{$origContent := replace ($origFile | readFile) "\r\n" "\n" }}
    {{$transContent := replace ($transFile | readFile) "\r\n" "\n"}}
    {{$origRows := split $origContent "\n\n" }}
    {{$transRows := split $transContent "\n\n" }}
    {{if eq (len $origRows) (len $transRows)}}
      {{partial "_internal/translation-table-open.html"}}
      {{range $index, $origRow :=  $origRows }}
        {{$transRow := index $transRows $index}}
        {{$opts := dict "display" "block" "markup" "goldmark" }}
          <tr>
            <td class="source">
              {{$origRow | $.Page.RenderString $opts}}
            </td>
            <td class="target">
              {{$transRow | $.Page.RenderString $opts}}
            </td>
          </tr>
        {{end}}
      {{partial "_internal/translation-table-close.html"}}
    {{else}}
      Failed to generate parallel translation table: Number of rows doesn't match.
    {{end}}
  {{end}}
{{else}}
    Failed to generate parallel translation table: Number of files doesn't match.
{{end}}