{{/* The most generic version of translationTable */}}
{{/* - Accepts directories and files, combined by commas */}}
{{/* - Reads recursively */}}
{{$page := .}}
{{$relativeOrigPaths := .Get "original"}}
{{$relativeTransPaths := .Get "translated"}}

{{partial "_internal/translation-table-open.html"}}
{{partial "_internal/translation-table-rows-dirs-files-recursive-relative.html" (dict "page" $page "relativeOrigPaths" $relativeOrigPaths "relativeTransPaths" $relativeTransPaths)}}
{{partial "_internal/translation-table-close.html"}}